In [15]:
from google.colab import files
uploaded = files.upload()

Saving Superbowl_Prob.csv to Superbowl_Prob (3).csv

In [40]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression

In [44]:
sup_bowl = pd.read_csv('Superbowl_Prob (3).csv')
sup_bowl

            Week  Home Game Flag  Temperature  OT  Favourite Flag  Win Flag
0              1               1           84   1               0         1
1              2               0           81   0               0         0
2              3               0           68   0               0         0
3              4               1           75   0               1         1
4              5               1           81   1               0         1
5              6               0           59   0               1         0
6              7               0           59   0               0         0
7              8               0           61   0               1         0
8              9               1           59   0               1         1
9             11               0           61   0               1         0
10            12               1           37   0               1         1
11            13               1           48   0               1         1
12            14               1           41   1               0         1
13            15               0           41   0               0         0
14            16               1           52   0               1         1
15            17               1           23   0               0         1
16            18               0           38   0               0         0
17     Wild Card               1           21   0               1         1
18      Division               0           58   0               0         1
19  Conf. Champ.               0           34   1               0         1
20             1               1           68   0               1         1
21             2               0           86   0               1         0
22             3               1           61   0               1         1
23             4               1           73   0               1         1
24             5               0           52   0               1         0
25             6               0           61   0               1         0
26             7               1           61   0               1         1
27             8               0           75   0               1         0
28             9               1           55   0               1         1
29            10               0           57   0               1         0
30            12               0           23   0               1         0
31            13               1           54   0               1         1
32            14               0           63   0               0         0
33            15               1           54   0               1         1
34            16               0           21   0               1         0
35            17               0           54   0               1         0
36            18               1           55   1               1         1
37     Wild Card               1           61   0               1         1
38      Division               0           45   0               0         1
39  Conf. Champ.               1           50   1               0         1

In [65]:
sup_bowl = sup_bowl[['Temperature','Favourite Flag','Home Game Flag','Win Flag']]
#Running logistic regression to obtain probability scores
X = sup_bowl[['Temperature','Home Game Flag','Favourite Flag']]
y = sup_bowl[['Win Flag']]
logit_model = LogisticRegression(random_state=0).fit(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [67]:
x_pred = pd.DataFrame(data=[[79,1,1]], columns = ['Temperature','Home Game Flag','Favourite Flag'])

pred_ot = logit_model.predict_proba(x_pred)
pred_ot

print(pred_ot)

[[0.20077039 0.79922961]]